%p= "Dear #{@user.name},"

%P= "You have successfully joined a the #{@crawl.name} Pub Crawl! The first stop is #{@crawl.stops.first.venue.name} located at #{@crawl.stops.first.venue.address}. It starts at #{@crawl.start_time.stamp('3:00 AM')} on #{@crawl.date.stamp('Sunday, May 1st')}. Follow the link for more information:"
%p Thanks,
%p SternBlood