#mobile_done_checkin
  .row
    .small-12.columns
      -if @venue.present? && @venue != "already"
        %p= "You have successfully checked-in at #{@venue.name}!"
        %p#fun You should recieve a text with your activity momentarily! Go have fun!
      -elsif @venue.present? && @venue == "already"
        %p= "You've already checked-in at #{@stop.venue.name}!"
      -else
        %p= "You are not on a Pub Crawl! Please join a Pub Crawl to check-in."