%table{:style => "width: 100%"}
  %thead
    %th Date
    %th Promotion
    %th
    %th
  -venue.availabilities.order(:date).each do |ava|
    %tr
      %td= ava.date
      %td= ava.promotion
      %td= link_to("Edit", edit_availability_path(ava.id), :remote => true, :class => "button radius tiny")
      %td= link_to("Delete", "/availabilities/#{ava.id}", :method => :delete, :remote => true, :confirm => "Are you sure you want to delete this availability?", :class => "button radius tiny alert")