= form_for @venue, :html => {:multipart => true}, :remote => true do |f|
  %fieldset#new_venue
    %legend#new_venue_form_head= @venue.name.nil? ? "New Venue" : "#{@venue.name}"
    =f.text_field :name, :placeholder => 'name', :class => 'text_field'
    =f.text_field :address, :placeholder => 'address', :class => "text_field"
    =f.file_field :image
    =f.text_field :remote_image_url
    %p Select All Categories That Apply:
    %ul.large-block-grid-3
      -@categories.each do |cat|
        %li
          %span= check_box_tag("venue[category_ids][]", cat.id, cat.in?(@venue.categories))
          %span= cat.name

    =f.submit