%ul.large-block-grid-2
  -@cu.venues.order(:name).each do |venue|
    %li
      .row
        .large-6.columns
          = image_tag(venue.image.thumb.url)
        .large-6.columns
          %h3.venue= venue.name
          %p.venue= venue.address
          = link_to("Edit", edit_venue_path(venue.id), :remote => true, :class => "button radius tiny")
          = link_to("Delete", "/venues/#{venue.id}", :method => :delete, :remote => true, :class => "button radius tiny alert", :confirm => "Are you sure you want to delete this venue?")
          = link_to("Availabilities", new_availabilities_venue_path(venue.id), :remote => true, :class => "button radius tiny")
      .row
        .large-12.columns
          %p= "Categories: #{venue.categories.map(&:name).join(", ")}"
      .row
        .large-12.columns
          %h5 Availabilities
          .venue_availabilities{:data => {venue:venue.id}}
            = render :partial => 'venues/availabilities', :locals => {:venue => venue}

