%ul.large-block-grid-2
  -@crawls.each do |crawl|
    %li
      .row
        .large-12.columns
          %h3= "#{crawl.name.titleize}, #{crawl.date.stamp('Sunday, May 1st')}"
      .row
        .large-12.columns
          %p= "Start: #{crawl.start_time.stamp("3:00 AM")} | End: #{crawl.end_time.stamp("3:00 AM")}"
      .row
        .large-12.columns
          %h5 Sarting Location:
      .row
        -venue = crawl.stops.first.venue
        .large-6.columns
          = image_tag(venue.image.thumb.url)
        .large-6.columns
          %h3= venue.name
          %p= venue.address