#desktop_nav.show-for-large-up
  -if @cu.nil?
    .row{style:"margin-top:3em;"}
      .large-12.columns.hide-for-touch
        .row
          .large-6.columns
            #register_c= link_to(image_tag("register_coaster2.png"), new_user_path, :class => 'login', :id => 'register_coaster', :remote => true)
          .large-6.columns
            #login_c= link_to(image_tag("login_coaster2.png"), new_session_path, :class => 'login', :id => 'login_coaster', :remote => true)
          / %img{:onmouseout => "this.src='/assets/login_coaster.jpg'", :onmouseover => "this.src='/assets/register_coaster.jpg'", :src => "/assets/login_coaster.jpg"}
  -else
    %ul.nav
      .row
        .large-2.columns
          %li.title
            =image_tag("barcode_logo_blue.png", :class => 'logo_img')
          %li
            =image_tag("barcode_text_blue.png", :class => 'logo_text')
            / %h3.logo BarCode
        .large-4.columns
        .large-6.columns
          %div
            = link_to(" #{@cu.name} | ", "#", :class => 'login_info')
            = link_to("Logout", session_index_path, :class => 'login_info', :method => :delete)


.row
  #mobile_nav.show-for-touch
    -if @cu.present?
      .row
        .small-7.columns
          #mobile_logo= link_to("BarCode", root_path)
        .small-5.columns
          #mobile_logout= link_to("Logout", session_index_path, :method => :delete)

