/ %nav.top-bar
/   %section.top-bar-section
/     / Left Nav Section
/     %ul.left
/       %li.divider
/       %li.login
/         %a{:href=>"/"} Home
/       %li.divider

/     / Right Nav Section
/     %ul.right
/       -if @cu.nil?
/         %li.divider
/         / %li= link_to("Register", new_user_path, :class => 'login', :remote => true)
/         %li= link_to(image_tag("register_coaster.jpg"), new_user_path, :class => 'login', :remote => true)
/         %li.divider
/         / %li= link_to("Login", new_session_path, :class => 'login', :remote => true)
/         %li= link_to(image_tag("login_coaster.jpg"), new_session_path, :class => 'login', :remote => true)
/       -else
/         %li.divider
/         %li= link_to("#{@cu.name}", "#", :class => 'login')
/         %li.divider
/         %li= link_to("Logout", session_index_path, :class => 'login', :method => :delete)
%ul.nav
  .row
    .large-1.columns
      %li
        %h1 BarCode
    .large-11.columns
      -if @cu.nil?
        %li.divider
        %li= link_to(image_tag("register_coaster.jpg"), new_user_path, :class => 'login', :remote => true)
        %li.divider
        %li= link_to(image_tag("login_coaster.png"), new_session_path, :class => 'login', :remote => true)

        / %img{:onmouseout => "this.src='/assets/login_coaster.jpg'", :onmouseover => "this.src='/assets/register_coaster.jpg'", :src => "/assets/login_coaster.jpg"}

      -else
        %li.divider
        %li= text_field_tag :search, nil, :placeholder => 'search', :id => 'search_placeholder'
        %li.divider
        %li= link_to(" #{@cu.name}", "#", :class => 'login_info')
        %li.divider
        %li= link_to("Logout | ", session_index_path, :class => 'login_info', :method => :delete)
